<h1>Stupid Coaching</h1>

<div>
<p><%= @question %></p>
<p><i>-You</i></p>
</div>
<div class=banner>
<p><%= @answer %></p>
<p><i>-Your coach</i></p>
</div>
<%= link_to "ask a new question", ask_path %>
